$tag-background-color: #CEE0ED;
$tag-color: #33658A;

.entity-list li {
  display: inline-block;
  font-size: 1em;
  margin: 8px;
  background-color: $tag-background-color;
  color: $tag-color;
  padding: 8px;
}

li.new-entity {
  animation-duration: 10s;
  animation-name: newentity;
}

@keyframes newentity {
  from {
    background: #CEEFE0;
    color: black;
  }

  to {
    background-color: $tag-background-color;
    color: $tag-color;
  }
}
