.entity-list li {
  display: inline-block;
  font-size: 1em;
  margin: 8px;
  background-color: #CEE0ED;
  color: #33658A;
  padding: 8px;
}

li.new-entity {
  animation-duration: 300s;
  animation-name: newentity;
}

@keyframes newentity {
  from {
    background: #CEEFE0;
    color: black;
  }

  to {
    background-color: #CEE0ED;
    color: #33658A;
  }
}
